/*Title*/
.era-title-initials {
    font-weight: normal;
}
.era-title-chinese {
    font-weight: bold;
}

/*Sección Países*/
.era-countries-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.era-countries-icon-container {
    max-height: 42px;
    margin-right: 10px;
}
.era-country-description {
    font-weight: bold;
}
