/*Description Container*/
.era-home-description-container{
    /* position: fixed; */
    margin-top: 0;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f0f0c0;
    height: auto;
}
/*Filters*/
.era-home-filters-container {
    bottom: 0;
    padding-right: 96px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    background-color: "#f0f0f0c0";
    position: relative;
}
.era-home-filters-menu {
    background-color: #e4e4e4;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
/*Country Info Container*/
.era-home-country-container {
    background-color: #e4e4e4c8;
}
.era-home-country-close {
    position: relative;
    margin-left: 29px;
    margin-bottom: -23px;
    top: 17px;
}
.era-link-back-home {
    font-size: 16px;
    color: #cccccc;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

/*Descripción País*/
.era-home-title-container {
    display: flex;
    align-items: center;
}
.era-home-title-flag {
    height: 42px;
    margin-left: 5px;
}
.era-home-sector-container {
    display: flex;
    align-items: center;
}
.era-home-sector-icon {
    margin-left: 5px;
    height: 25px;
    color: #333333;
}
.era-home-sector-icon-dark {
    margin-left: 5px;
    color: #fff;
}
.era-home-sector-description {
    font-weight: bold;
}
